* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ope;
    font-family: "Open Sans", sans-serif;
    transition: 0.3s;
}

button{
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1432px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav_logo {
    width: 151px;
    height: 47px;
}

.nav_box {
    padding-top: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu {
    display: flex;
    gap: 20px;
    
}

.nav_link{
    font-size: 16d px;
    font-weight: 600;
    color: rgba(0, 0, 0, .5);
}

.nav_link:hover{
    color: #000;
}



.signup{
    width: 97px;
    height: 32px;
    background-color: #caa892;
    border-radius: 15px 0px 15px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: 0.3s; */
}

.nav_btn{
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.signup:hover{
    background-color: #b0855b;
}



/*   HE A D E R  */

header{
    background-image: url(./img/headerfon.svg);
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

.header_box{
    padding-top: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_title{
    font-size: 20px;
    font-weight: 600;
    color: #646464;
}

.header_text{
    font-size: 72px;
    color: #000;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 78px;
    margin-top: 20px;
}

.header_subtext{
    font-size: 18px;
    line-height: 30px;
    color: #646464;
    font-weight: 400;
    margin: 20px 0px;
}

.header_btn{
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    background-color: #37806b;
    border-radius: 20px 0px 20px 0px;
    width: 142.15px;
    height: 42.81px;
    margin-top: 20px;
}

.header_btn:hover{
    background-color: #266d59;
}



/* SERVICE */

.service_box{
    padding-top: 111px;
}

.service_title{
    color: #646464;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.service_subtitle{
    font-size: 72px;
    color: #000;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 78px;
    margin-top: 20px;
}

.arrow_pagination{
    display: flex;
    justify-content: end;
    padding: 15px 0px;
}

button{
    outline: none;
    border: none;
    background: transparent;
}

.service_swipper{
    display: flex;
    justify-content: space-between;
    gap: 20;
}

.service_card{
    border-radius: 60px 0px 60px 0px;
    max-width: 450px;
    max-height: 193px;
    display: flex;
    box-shadow: 0px 8px 20px 0px #00000024;
    background-color: #fff;
    justify-content: center;
    align-items: start;
    padding: 20px 5px; 
   
}

.service_card2{
    background-color: #caa892;
    color: white;

}

.service_card_img{
    margin: 20px 40px;
}

.service_card_title{
    margin: 5px 0px;
    font-size: 24px;
    font-weight: 700;
}

.service_card_text {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.01em;


}



/* ABOUT */

.about{
    background-image: url(./img/headerfon.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.about_box{
    padding-top: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_right{
    padding: 0px 50px;
}

.about_title{
    font-size: 20px;
    font-weight: 500;
    color: #646464;
}

.about_text{
    font-size: 72px;
    color: #000;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 78px;
    margin-top: 20px;
}

.about_subtext{
    font-size: 18px;
    line-height: 30px;
    color: #646464;
    font-weight: 400;
    margin: 20px 0px;
}

.about_btn{
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    background-color: #37806b;
    border-radius: 20px 0px 20px 0px;
    width: 142.15px;
    height: 42.81px;
    margin-top: 20px;
}

.about_btn:hover{
    background-color: #266d59;
}






/* SECTION  */

.section_box{
    padding-top: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_btn{
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    background-color: #37806b;
    border-radius: 20px 0px 20px 0px;
    width: 142.15px;
    height: 42.81px;
    margin-top: 20px;
}

.section_nuber{
    font-size: 288px;
    font-weight: 700;
    color: transparent;
    background-image: url("./img/texture.jpg");
    background-size: contain;
    background-clip: text;
}


/* PROJECT */

.project{
    margin-top: 111px;
    background: #f8f8f8;
    background-image: url("./img/headerfon.svg");
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.project_title{
    color: #212121;
    text-align: center;
    font-weight: 500;
    line-height: 60px;
    font-size: 48px;
    padding-top: 100px;
}

.project_card_box{
    padding-bottom: 111px;
    display: flex;
    justify-content: space-between;
}

.project_card{
    margin-top: 100px;
    width: 185px;
    height: 182px;
    box-shadow: 0px 13px 16px 0px #0000001A;
    background-color: #fff;
    border-radius: 40px 0px 40px 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project_card_number{
    font-size: 50px;
    font-weight: 700;
    padding: 10px;
}

.project_card_text{
    font-size: 18px;
    font-weight: 600;
    color: #646464;
}


/* WORK  */

.work{
    background-color: #fff;
    padding-top: 111px;
    text-align: center;
}

.work_title{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #646464;
}

.work_subtitle{
    font-size: 48px;
    font-weight: 500;
    color: #212121;
    line-height: 72px;
}

.work_card_box{
    display: flex;
    justify-content: space-between;
}


.work_card{
        margin: 20px 0px;
        border-radius: 70px 0px 70px 0px;
        opacity: 0px;
        box-shadow: 7px 7px 30px 5px #42605426;
        max-width: 571px;
        min-height: 226px;
        position: relative;
        padding-left: 100px;
        padding-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: start;
}

.work_card_img{
    width: 130px;
    height: 131px;
    border-radius: 35px 0px 35px 0px;
    position: absolute;
    top: 20%;
    left: -10%;
}

.work_card_title{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

.work_card_nickname{
    font-size: 20px;
    font-weight: 700;
}

.work_card_text{
    font-size: 18px;
    color: #646464;
    font-weight: 400;
}