* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ope;
    font-family: "Open Sans", sans-serif;
    transition: 0.3s;
}


.container {
    width: 100%;
    max-width: 1432px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav_logo {
    width: 151px;
    height: 47px;
}

.nav_box {
    padding-top: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu {
    display: flex;
    gap: 20px;
    
}

.nav_link{
    font-size: 16d px;
    font-weight: 600;
    color: rgba(0, 0, 0, .5);
}

.nav_link:hover{
    color: #000;
}



.signup{
    width: 97px;
    height: 32px;
    background-color: #caa892;
    border-radius: 15px 0px 15px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: 0.3s; */
}

.nav_btn{
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.signup:hover{
    background-color: #b0855b;
}



/*   HE A D E R  */

.header_box{
    padding-top: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_title{
    font-size: 20px;
    font-weight: 600;
    color: #646464;
}

.header_text{
    font-size: 72px;
    color: #000;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 78px;
    margin-top: 20px;
}

.hedaer_subtext{
    font-size: 18px;
    line-height: 30px;
    color: #646464;
    font-weight: 400;
    margin: 20px 0px;
}

.header_btn{
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    background-color: #37806b;
    border-radius: 20px 0px 20px 0px;
    width: 142.15px;
    height: 42.81px;
    margin-top: 20px;
}

.header_btn:hover{
    background-color: #266d59;
}